@font-face {
  font-family: 'Brown-Bold';
  src: url('../../fonts/brown-bold/Brown-Bold.eot?#iefix') format('embedded-opentype'),  url('../../fonts/brown-bold/Brown-Bold.woff') format('woff'), url('../../fonts/brown-bold/Brown-Bold.ttf')  format('truetype'), url('../../fonts/brown-bold/Brown-Bold.svg#Brown-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brown-Regular';
  src: url('../../fonts/brown-regular/Brown-Regular.eot?#iefix') format('embedded-opentype'),  url('../../fonts/brown-regular/Brown-Regular.woff') format('woff'), url('../../fonts/brown-regular/Brown-Regular.ttf')  format('truetype'), url('../../fonts/brown-regular/Brown-Regular.svg#Brown-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.instagram_images_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.instagram_image_container {
  width: 240px;
  height: 240px;
  background-color: #ffffff;
  overflow: hidden;
  display: block;

}

.instagram_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 1;
}

.instagram_image_rejected {
  -webkit-filter: blur(4px);
  filter: blur(4px);


}

.instagram_image:hover {
  opacity: 0.5;
}

.instagram_popup_container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  position: relative;
}

.instagram_popup_media {
  height: 500px;
  width: 500px;
  overflow: hidden;
}

.instagram_popup_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.instagram_load_button {
  font-family: 'Brown-Regular';
  font-size: 28px;
  padding: 8px;
  background-color: #3cbfb4;
  text-decoration: none;
  width: 100%;
  color: #ffffff;
  border: none;
  outline:0;
}

.instagram_load_button:hover {
  color: #3cbfb4;
  background-color: #ffffff;
}

.popup_close_button {
  font-family: 'Brown-Regular';
  font-size: 28px;
  background-color: #3cbfb4;
  text-decoration: none;
  width: 250px;
  color: #ffffff;
  border: none;
  outline:0;
}

.popup_close_button:hover {
  background-color: #ffffff;
  color: #3cbfb4;
}
.popup_remove_button {
  font-family: 'Brown-Regular';
  font-size: 28px;
  background-color: #CA54BC;
  text-decoration: none;
  width: 250px;
  color: #ffffff;
  border: none;
  outline:0;
}

.popup_remove_button:hover {
  background-color: #ffffff;
  color: #CA54BC;
}

.instagram_toggle_button {
  font-family: 'Brown-Regular';
  font-size: 28px;
  padding: 8px;
  background-color: #ffffff;
  text-decoration: none;
  width: 100%;
  color: #3cbfb4;
  border: none;
  outline:0;
}

.instagram_toggle_button:hover {
  background-color: #3cbfb4;
  color: #ffffff;
}

.scraping_div{
  width: 100vw;
  height: 100vh;
  background-color: #3cbfb4;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  font-size: 64px;
  color: #ffffff;
  font-family: 'Brown-Bold';
}