@font-face {
  font-family: 'Brown-Bold';
  src: url('../../fonts/brown-bold/Brown-Bold.eot?#iefix') format('embedded-opentype'),  url('../../fonts/brown-bold/Brown-Bold.woff') format('woff'), url('../../fonts/brown-bold/Brown-Bold.ttf')  format('truetype'), url('../../fonts/brown-bold/Brown-Bold.svg#Brown-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brown-Regular';
  src: url('../../fonts/brown-regular/Brown-Regular.eot?#iefix') format('embedded-opentype'),  url('../../fonts/brown-regular/Brown-Regular.woff') format('woff'), url('../../fonts/brown-regular/Brown-Regular.ttf')  format('truetype'), url('../../fonts/brown-regular/Brown-Regular.svg#Brown-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.menu_container {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.menu_items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  position: relative;
}
.menu_item {
  display: block;
  padding: 10px;
}

.menu_item a {
  font-family: 'Brown-Bold';
  font-size: 28px;
  text-decoration: none;
  color: #000000;
}
.menu_item a:hover {
  color: #3cbfb4;
}
.menu_host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  position: relative;
}

.menu_host_picture {
  height: 75px;
  margin: 10px;
}

.menu_host_name {
  font-family: 'Brown-Bold';
  font-size: 16px;
  text-decoration: none;
  color: #000000;
}

.menu_host_log a {
  font-family: 'Brown-Regular';
  font-size: 16px;
  text-decoration: none;
  color: #000000;
}

.menu_host_log a:hover {
  color: #CA54BC;
}

.title_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  position: relative;
  padding: 0px 20px 0px 20px;
}

.title_top {
  font-family: 'Brown-Regular';
  font-size: 14px;
  text-decoration: none;
  color: #000000;
  padding: 6px 0px 0px 0px;
}

.title_bottom {
  font-family: 'Brown-Regular';
  font-size: 14px;
  text-decoration: none;
  color: #3cbfb4;
  padding: 6px 0px 0px 0px;
}

.menu_logo {
  display: flex;
  flex-direction: column;
}

