
@font-face {
  font-family: 'Brown-Regular';
  src: url('Brown-Regular.eot?#iefix') format('embedded-opentype'),  url('Brown-Regular.woff') format('woff'), url('Brown-Regular.ttf')  format('truetype'), url('Brown-Regular.svg#Brown-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
