
@font-face {
  font-family: 'Brown-Bold';
  src: url('Brown-Bold.eot?#iefix') format('embedded-opentype'),  url('Brown-Bold.woff') format('woff'), url('Brown-Bold.ttf')  format('truetype'), url('Brown-Bold.svg#Brown-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
